@page "/blog"

<div class="flex items-center justify-center h-screen">
    <div class="bg-sky-50 p-4 flex items-center justify-center" style="height: 500px;width: 500px">
        这个 div 已水平垂直居中
    </div>
</div>