@page "/"
@inherits Home_razor

<!-- 背景-->
<div class="background">
    <div class="ball" style="width: 200px; height: 200px; background-color: #9affc2; top: 10%; left: 20%;"></div>
    <div class="ball" style="width: 300px; height: 300px; background-color: #99f6ff; top: 30%; left: 60%;"></div>
    <div class="ball" style="width: 250px; height: 250px; background-color: #ff98da; top: 70%; left: 30%;"></div>
</div>



<div class="container">
    <main class="main-content">
        <!-- 个人介绍 -->
        <article class="card profile-card">
            <img src="./images/logo.png" alt="Profile" class="profile-pic">
            <div>
                <h3>TiO2 EvoLve 的空间</h3>
                <p>欢迎来到我的空间</p>
                <p style="color: #fa60a0;font-size:medium">网站已经运行了 @currentTime.Days 天 @currentTime.Hours 时 @currentTime.Minutes 分 @currentTime.Seconds 秒</p>
            </div>
        </article>

        <!-- 博客文章 -->
        <article class="card">
            <h2>网站建设中。。。</h2>
            <p class="post-date">March 27, 2025</p>
            <p>网站正在开发中，目前点击按钮没有效果是正常的...</p>
        </article>

        <article class="container2">
            <div class="left-content">
                <div class="title">S&Box</div>
                <div class="sub-title">C#+Source2+Razor 免费的游戏开发引擎</div>
                <div class="desc">一款基于Source 2开发的可视化游戏引擎，使用C#作为编程语言，Garry Mod的续作。。。</div>
                <div class="button-group">
                    <a href="https://sbox.game/about" class="official-btn">官方网址</a>
                    <a href="https://github.com/Facepunch" class="github-btn">github仓库</a>
                </div>
            </div>
            <div class="right-graphic">
                <div class="big-title">S&Box Engin</div>
                <div class="url">https://sbox.game/about</div>
            </div>
        </article>

        <article class="container3">
            <article class="project-card">
                <img src="https://picsum.photos/500" alt="YIKE时光2.0" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">标题2.0</h2>
                    <p class="project-date">2025-03-27</p>
                    <p class="project-category">产品 / 个人网站</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 14</button>
                    <button class="view-btn">瞧一瞧</button>
                </div>
            </article>

            <article class="project-card">
                <img src="https://picsum.photos/500" alt="逸刻时光1.0" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">标题1.0</h2>
                    <p class="project-date">2025-03-27</p>
                    <p class="project-category">产品 / 博客v1.0</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 53</button>
                    <button class="view-btn">瞧一瞧</button>
                </div>
            </article>

            <article class="project-card">
                <img src="https://picsum.photos/1000" alt="逸刻笔记" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">标题三</h2>
                    <p class="project-date">2025-03-27</p>
                    <p class="project-category">练习 / 移动端、笔记</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 47</button>
                    <button class="view-btn">瞧一瞧</button>
                </div>
            </article>

            <article class="project-card">
                <img src="https://picsum.photos/1000" alt="逸刻笔记" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">标题三</h2>
                    <p class="project-date">2025-03-27</p>
                    <p class="project-category">练习 / 移动端、笔记</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 47</button>
                    <button class="view-btn">瞧一瞧</button>
                </div>
            </article>
        </article>
        
    </main>

    <!-- 侧边栏 -->
    <aside class="sidebar">
        <div class="card">
            <h3>外部链接</h3>
            <br/>
            <ul>
                <li><a href="https://space.bilibili.com/59422806?spm_id_from=333.1007.0.0">Bilibili主页</a></li>
                <li><a href="https://steamcommunity.com/id/TiO2EvoLve">Steam主页</a></li>
            </ul>
        </div>

        <div class="card">
            <h3>个人信息</h3>
            <br/>
            <p>🌏 中国·山东·济南</p>
            <p>💻 TiO2 EvoLve</p>
            <p>📧 3290158038@qq.com</p>
        </div>
    </aside>
    
</div>
