@page "/"
@inherits Home_razor

<!-- 背景-->
<div class="background">
    <div class="ball" style="width: 200px; height: 200px; background-color: #63dbff; top: 10%; left: 20%;"></div>
    <div class="ball" style="width: 300px; height: 300px; background-color: #fc779e; top: 30%; left: 60%;"></div>
    <div class="ball" style="width: 250px; height: 250px; background-color: #ce92ff; top: 70%; left: 15%;"></div>
    <div class="ball" style="width: 250px; height: 250px; background-color: #aaff92; top: 90%; left: 80%;"></div>
</div>

<div class="container">
    <main class="main-content">
        <!-- 个人介绍 -->
        <article class="card profile-card">
            <img src="./images/logo.png" alt="Profile" class="profile-pic">
            <div>
                <h3>TiO2 EvoLve 的空间</h3>
                <p>欢迎来到我的空间</p>
                <p style="color: #fa60a0;font-size:medium">网站已经运行了 @currentTime.Days 天 @currentTime.Hours 时 @currentTime.Minutes 分 @currentTime.Seconds 秒</p>
            </div>
        </article>

        <!-- 博客文章 -->
        <article class="card">
            <h2>网站建设中。。。</h2>
            <p class="post-date">March 27, 2025</p>
            <p>网站正在开发中，有些按钮没有效果是正常的</p>
        </article>

        <article class="container2">
            <div class="left-content">
                <div class="title">S&Box</div>
                <div class="sub-title">C#+Source2+Razor 免费的游戏开发引擎</div>
                <div class="desc">一款基于Source 2开发的可视化游戏引擎，使用C#作为编程语言，Garry Mod的续作。。。</div>
                <div class="button-group">
                    <a target="_blank" href="https://sbox.game/about" class="official-btn">官方网址</a>
                    <a target="_blank" href="https://github.com/Facepunch" class="github-btn">github仓库</a>
                </div>
            </div>
            <div class="right-graphic">
                <div class="big-title">S&Box Engin</div>
                <div class="url">https://sbox.game/about</div>
            </div>
        </article>

        <article class="card" style="display: flex; align-items: center;">
            <h2 style="color: #fa60a0;font-weight: bolder">🔶🔶🔶&nbsp;&nbsp;&nbsp;个人作品&nbsp;&nbsp;&nbsp;🔶🔶🔶</h2>
        </article>

        <article class="container3">
            <article class="project-card">
                <img src="./images/room.png" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">室内场景</h2>
                    <p class="project-date">2023-02-24</p>
                    <p class="project-category">起源二 / 地图</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 1.3w</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV1MX4y197sx/?spm_id_from=333.1387.0.0" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/backroom.png" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">后室场景</h2>
                    <p class="project-date">2024-07-09</p>
                    <p class="project-category">起源二 / 游戏</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 316</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV1yb421n7NK/?spm_id_from=333.1387.homepage.video_card.click" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/touhou.png" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">东方弹幕游戏</h2>
                    <p class="project-date">2024-03-09</p>
                    <p class="project-category">起源二 / 游戏</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 289</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV17J4m1a7KJ/?spm_id_from=333.1387.upload.video_card.click" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/pool.png" class="project-image">
                <div class="project-info">
                    <h2 class="project-title">池核场景</h2>
                    <p class="project-date">2024-04-29</p>
                    <p class="project-category">起源二 / 地图</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 1236</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV1RH4y1G7wk/?spm_id_from=333.1007.top_right_bar_window_history.content.click" class="view-btn">瞧一瞧</a>
                </div>
            </article>
        </article>
        
    </main>

    <!-- 侧边栏 -->
    <aside class="sidebar">
        <div class="card">
            <h3>外部链接</h3>
            <br/>
            <ul>
                <li>
                    <img src="images/bilibili.ico"/>
                    <a target="_blank" href="https://space.bilibili.com/59422806">Bilibili主页</a>
                </li>
                <li>
                    <img src="images/steam.ico"/>
                    <a target="_blank" href="https://steamcommunity.com/id/TiO2EvoLve">Steam主页</a>
                </li>
                <li>
                    <img src="images/github.ico"/>
                    <a target="_blank" href="https://github.com/TiO2EvoLve">Github主页</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <h3>个人信息</h3>
            <br/>
            <p>🌏 中国·山东·济南</p>
            <p>💻 TiO2 EvoLve</p>
            <p>📧 3290158038@qq.com</p>
        </div>
    </aside>
    
</div>
